
  <div class="containerB white font-dosis">
    <ul>
      <li ng-repeat="monster in monsters">
        <a ng-href="#/beasts/{{$index}}">{{ monster.name }}</a>
      </li>
    </ul>
  </div>
  <div class="columns col-B white font-dosis">
    <h2>{{monsters[beastIndex].name}}</h2>
    <hr class="hr-one">
    <p>
      {{ monsters[beastIndex].text.paragraph1 }}
    </p>
    <img ng-src="{{ monsters[beastIndex].image }}" class="left-img"/>
    <p>
      {{ monsters[beastIndex].text.paragraph2 }}
    </p>
  </div>
