
  <div class="containerA white font-dosis">
    <h1>WORLD OF NATTURA</h1>
    <p>
      Nattura is an nature-themed, Bug's Life&trade; inspired Dungeons and Dragons campaign.
      Imagine your backyard eco-system fighting each other with swords and magic but
      with in-depth lore with species tension, politics, and fantasy storylines.
    </p>
    <p>
      This wiki is meant to be a hub of all the info needed to start a campaign of your own.
      You can follow a preset storyline or choose an time period and create your scenario for
      your players to play in. As a creative piece of work, Nattura is meant to challenge
      modern day ideals and social contructs with no black and white perspective. Every problem
      has far too many solutions that not everybody will agree with. The skeleton of this
      campaign can be your own narrative to whatever statement you are trying to make.
      All seriousness aside, make sure to have fun with it!
    </p>
  </div>
  <div class="containerC yellow font-dosis">
    <h2>Nattura Musica</h2>
    <hr class="black">
    <p>
      Nattura even has an original soundtrack to go along with it! Help set the mood and
      immerse your players with this orchestral adventure. Head over <a href="http://www.lunanova.bandcamp.com">here</a> to stream or purchase.
    </p>
  </div>
  <div class="containerC green font-dosis">
    <h2>Contact</h2>
    <hr class="black">
    <p>
      Want to get in touch? Feel free to shoot an email to <strong style="text-decoration:
      underline">heartofnova@gmail.com</strong> for any questions, comments, or compliments!
    </p>
  </div>
  <div class="containerC blue font-dosis">
    <h2>Boxes</h2>
    <hr class="black">
    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
