
  <div class="columns col-A grey">
    <h1>The History Of Nattura</h1>
    <hr class="hr-all black">
    <h2>Antenos Dagwyr</h2>
    <p>
      There was a time before Ohn Pridos (Our First Pride) but it is only remembered in history
      as the 'Antenos Dagwyr' or Ancient Days. Small tribes scattered the land and the only means
      of keeping history was through stories by the fire. It was this time that the Spiders
      were the most dangerous group of people around.
    </p>
    <h2>O'hn Pridos (0 - 350)</h2>
    <p>
      The era of O'hn came to be when the first King Protea came upon and recieved the Mana blessing
      of the World Tree. This symbolized the start of the Plant Kingdom and the first organized society
      on a large scale. Summers were long and winters seem to be over in a blink of an eye. The World
      Tree seemed to rejoin in seeing all life living and flourishing.
    </p>
    <img src="http://lorempixel.com/600/600" class="left-img"/>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo.
    </p>
    <h2>Midwyr Ivos (351 - 700)</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <img src="http://lorempixel.com/600/600" class="right-img"/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h2>Lewyr Orius (700 - Present)</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="containerB green font-dosis">
    <h2>
      <img src="http://findicons.com/files/icons/1156/fugue/16/leaf.png"/>
      Plant Kingdom
      <img src="http://findicons.com/files/icons/1156/fugue/16/leaf.png"/>
    </h2>
    <hr class="black">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="containerB yellow font-dosis">
    <h2>
      <img src="http://icons.iconarchive.com/icons/icons8/windows-8/16/Holidays-Spider-icon.png"/>
      Spider Clan
      <img src="http://icons.iconarchive.com/icons/icons8/windows-8/16/Holidays-Spider-icon.png"/>
    </h2>
    <hr class="black">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="containerB red font-dosis">
    <h2>
      <img src="http://sfgame-hack.com/images/icon.ico"/>
      Fungus Empire
      <img src="http://sfgame-hack.com/images/icon.ico"/>
    </h2>
    <hr class="black">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="containerB blue font-dosis">
    <h2>
      <img src="https://wiki.inf.ed.ac.uk/twiki/pub/TWiki/BugzillaLinkPlugin/bug.gif"/>
      Insect Federation
      <img src="https://wiki.inf.ed.ac.uk/twiki/pub/TWiki/BugzillaLinkPlugin/bug.gif"/>
    </h2>
    <hr class="black">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
