
/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*==============MAIN ELEMENTS================*/

body {
  background-color: rgb(23, 46, 31);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

header ul {
  list-style-type: none;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

footer {
}

footer img {
  width: 100%;
}

li a {
  text-decoration: none;
  color: black;
}

li a:visited {
  text-decoration: none;
  decoration: none;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*==============HEADING================*/

.main-body {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10px;
}

.navbar {
  background-color: rgb(202, 241, 201);
  border-radius: 6px;
  width: 75%;
  margin: 0 auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.flex {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-padding-start: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex li {
  font-size: 125%;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  padding: 2% 5% 2% 5%;
  text-align: center;
}

.flex li:hover {
  box-shadow: inset 0px 0px 0px 3px rgb(8, 63, 1);
}

.flex li:last-child {
  margin-bottom: 0;
}

#logo {
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0%;
}

#logo img {
  width: 100%;
  border-radius: 8px;
}

/*==============FONTS================*/

.font-dosis {
  font-family: 'Dosis', sans-serif;
}

.font-autour {
  font-family: 'Autour One', cursive;
}

/*==============COLORS================*/

.blue {
  background-color: rgb(73, 131, 147);
}
.green {
  background-color: rgb(99, 177, 107);
}
.yellow {
  background-color: rgb(225, 227, 110);
}
.red {
  background-color: rgb(163, 81, 99);
}
.white {
  background-color: white;
}
.black {
  border-color: black;
  background-color: black;
  color: white;
}
.grey {
  background-color: rgb(209, 209, 209);
}
.darkgreen {
  background-color: rgb(16, 31, 17);
  color: rgb(215, 215, 215);
  box-shadow: inset 0px 0px 0px 3px rgb(172, 172, 172);
}



/*==============BOXES + COLUMNS================*/

.containerA,
.containerB,
.containerC,
.columns {
  margin-top: 5%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

.containerA,
.columns {
  padding: 4%;
}

.containerA p {
  font-size: 16px;
}

.containerA p + p {
  margin-top: 5%;
}

.containerC,
.containerB {
  padding: 2% 4% 4% 4%;
}

.containerA,
.containerC {
  width: 90%;
}

.containerB img,
.containerB {
  display: inline-block;
}

.containerC {
  display: block;
}

.columns {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;

  -webkit-column-rule: 2px dotted black;
  -moz-column-rule: 2px dotted black;
  column-rule: 2px dotted black;
}

.col-A {
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.col-B {
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.columns p {
  margin-bottom: 3%;
  margin-top: 3%;
}

.columns h1 {
  text-align: center;
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  margin-bottom: 1%;
  margin-top: 0;
}

.columns h2 {
  margin-bottom: 3%;
  clear: both;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
          break-inside: avoid;
}

.columns img {
  width: 40%;
  height: 40%;
  min-width: 150px;
  min-height: 150px;
  margin-top: 1%;
  margin-bottom: 3%;
}

.left-img {
  float: left;
  margin-right: 3%;
}

.right-img {
  float: right;
  margin-left: 3%;
}

.hr-all,
.hr-one {
  margin-bottom: 1%;
}

.hr-all {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
}
.hr-one {
  -webkit-column-span: none;
  -moz-column-span: none;
  column-span: none;
}

/*==============MEDIA QUERY================*/

@media screen and (min-width: 724px) {
  body {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .main-body{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 175px;
  }
  .navbar {
    min-width: 582px;
  }
  .flex {
    float: right;
    width: 72%;
    min-height: 175px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .flex li {
    padding: 2%;
    align-self: center;
    margin-right: 4%;
    margin-bottom: 0;
  }
  #logo {
    min-height: 150px;
    min-width: 150px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
  }
  .containerA {
    width: 96%;
    margin-top: 4%;
    padding: 2%;
  }
  .containerA p + p {
    margin-top: 2%;
  }
  .containerB {
    width: 38.35%;
    margin-left: 5%;
    padding: 2%;
  }
  .containerC {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    max-width: 27%;
    margin-right: 3.4%;
    float: left;
  }
  .containerC:last-child {
    margin-right: 0;
  }
  .columns {
    padding: 2%;
  }
}

@media screen and (min-width: 1068px) {
  .flex li {
    margin-right: 10%;
  }
  #logo {
    margin-left: 3%;
  }
}
