/*==============MOBILE-FIRST================*/

body {
  background-color: rgb(23, 46, 31);
}

header ul {
  list-style-type: none;
}

.main-body {
  padding-left: 1%;
  padding-right: 1%;
}

.navbar {
  background-color: rgb(202, 241, 201);
  border-radius: 6px;
  width: 75%;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar li {
  font-family: Helvetica;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 3%;
  padding: 2% 5% 2% 5%;
  text-align: center;
}

.navbar li:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(8, 63, 1);
}

.navbar li:last-child {
  margin-bottom: 0;
}

.navbar li:first-child {
   padding: 0%;
   background-color: rgba(255, 255, 255, 0);
   box-shadow: none;
}

#logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  width: 100%;
  border-radius: 8px;
  vertical-align: top;
}


/*==============BOXES================*/

/*==============MEDIA QUERY================*/

@media screen and (min-width: 700px) {
  body {
    margin: 40px 0;
  }
  .navbar {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .navbar li {
    padding: 2%;
    align-self: center;
    font-size: 30px;
    margin-bottom: 0;
  }
  #logo {
    width: 150px;
    height: 150px;
    margin-left: 0;
  }
}
